@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local(OpenSans-LightItalic), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local(OpenSans-Italic), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local(OpenSans-SemiBoldItalic), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local(OpenSans-BoldItalic), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local(OpenSans-ExtraBoldItalic), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxphT2rkLFFMVLymfgfmWVtI.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local(OpenSans-Light), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local(OpenSans-Regular), url(//fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local(OpenSans-SemiBold), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local(OpenSans-Bold), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local(OpenSans-ExtraBold), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {
  width: 100%;
  float: left;
  position: relative;
}

.checkbox + .checkbox,
.radio + .radio {
  margin-top: 32px;
}

.radio {
  margin-top: 32px;
  position: relative;
  float: left;
  display: inline-block;
  margin-right: 40px;
}

@media (max-width: 500px) {
  .radio {
    float: none;
    margin: 15px 15px 0;
  }
}

.radio label {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  line-height: 15px;
  color: #222;
  font-size: 15px;
  font-weight: 300;
}

.radio input[type="radio"] {
  display: none;
}

.radio input[type="radio"] + label span {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons/not-check.png");
  cursor: pointer;
  float: left;
  font-size: 15px;
  font-weight: 300;
  color: #222;
  margin-right: 10px;
  position: relative;
  margin-left: -20px;
}

.radio input[type="radio"]:checked + label span {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  margin-right: 10px;
  position: relative;
  margin-left: -20px;
  width: 14px;
  height: 14px;
}

.radio input[type="radio"]:checked + label span:before {
  content: "";
  background-image: url("../img/icons/check.png");
  display: block;
  width: 14px;
  height: 14px;
}

.drop-menu {
  width: 296px;
  height: 51px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  float: right;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  color: #222;
  text-align: left;
}

.drop-menu .select {
  cursor: pointer;
  display: block;
  padding: 15px;
  height: 51px;
  outline: none;
  font-weight: 300;
  color: #222;
}

.drop-menu .select .fa-chevron-down {
  font-size: 13px;
  color: #222;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
}

.drop-menu .select .fa-map-marker {
  color: #ccc;
  margin-right: 10px;
}

.drop-menu.active .select .fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.drop-menu .dropeddown {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: -3px;
  border: 1px solid #eaeaea;
  border-top: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0 1px 5px 5px;
  overflow: hidden;
  display: none;
  z-index: 9;
}

.drop-menu .dropeddown li {
  padding: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 300;
  color: #222;
}

.drop-menu .dropeddown li:first-of-type {
  margin-top: 2px;
}

.drop-menu .dropeddown {
  padding: 0;
  list-style: none;
}

.drop-menu .dropeddown li:hover {
  background-color: #f2f2f2;
}

.drop-menu .dropeddown li:active {
  background-color: #e2e2e2;
}

.view--btn {
  float: left;
  width: 38px;
  height: 38px;
  background-color: #f2b71b;
  border-radius: 3px;
  position: relative;
}

.view--btn:after {
  content: "";
  background-image: url("../img/icons/eye--icon.png");
  width: 18px;
  height: 10px;
  position: absolute;
  left: -webkit-calc(50% - 9px);
  left: calc(50% - 9px);
  margin-top: -webkit-calc(50% - 5px);
  margin-top: calc(50% - 5px);
}

.view--btn:hover {
  background-color: #d69b00;
}

.del--btn {
  float: left;
  width: 38px;
  height: 38px;
  background-color: #dd2b2b;
  border-radius: 3px;
  position: relative;
}

.del--btn:after {
  content: "";
  background-image: url("../img/icons/delete--icon.png");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -webkit-calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  margin-top: -webkit-calc(50% - 7.5px);
  margin-top: calc(50% - 7.5px);
}

.del--btn:hover {
  background-color: #cc0c0c;
}

.add-btn {
  width: 140px;
  height: 50px;
  background-color: #00a8d7;
  border-radius: 3px;
  float: left;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.add-btn:hover {
  background-color: #0086ac;
  color: #fff;
}

.header {
  width: 100%;
  float: left;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}

.header__logo {
  width: 110px;
  float: left;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  float: left;
  margin: 12px 0 0 45px;
  padding: 0;
}

@media (max-width: 1000px) {
  .header__menu {
    display: none;
    position: absolute;
    right: 12px;
    width: 97%;
    background-color: #fff;
    z-index: 100;
    margin: 75px 0 0;
    text-align: center;
  }
}

.header__menu li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 45px;
}

@media (max-width: 1000px) {
  .header__menu li {
    width: 100%;
    float: left;
    margin: 10px 0;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.header__menu li a {
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

.header__menu li:hover a {
  color: #f2b71b;
}

.header__panel {
  width: 273px;
  float: right;
  text-align: right;
}

@media (max-width: 500px) {
  .header__panel {
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px);
  }
}

.header__panel--enter {
  float: none;
  display: inline-block;
  width: 110px;
  height: 44px;
  background-color: #f2b71b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #222;
  text-align: center;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.header__panel--enter:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icons/enter--icon.png");
  width: 13px;
  height: 16px;
  display: block;
  position: absolute;
  margin-top: 14px;
  left: 18%;
}

.header__panel--enter:hover {
  background-color: #d69b00;
  color: #222;
}

.header__panel--exit {
  float: right;
  display: inline-block;
  width: 110px;
  height: 44px;
  background-color: #f2b71b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #222;
  text-align: center;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.header__panel--exit:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/icons/enter--icon.png");
  width: 13px;
  height: 16px;
  display: block;
  position: absolute;
  margin-top: 14px;
  left: 18%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header__panel--exit:hover {
  background-color: #d69b00;
  color: #222;
}

.header__panel--reg {
  width: 138px;
  height: 44px;
  border: 1px solid #333;
  border-radius: 3px;
  display: inline-block;
  float: none;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
  color: #222;
  margin-left: 22px;
}

@media (max-width: 500px) {
  .header__panel--reg {
    width: 110px;
    margin-left: 8px;
  }
}

.header__panel--reg:hover {
  background-color: #222;
  color: #fff;
}

.toggle_mnu {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
  border: none;
  right: 10px;
  float: right;
  margin-left: 20px;
  background-color: transparent;
}

@media (max-width: 1000px) {
  .toggle_mnu {
    display: block;
  }
}

.toggle_mnu span {
  display: block;
}

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 40px;
  height: 4px;
  background: #222;
  border: none;
  border-radius: 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block;
}

.sw-bottom {
  position: relative;
  width: 40px;
  height: 4px;
  top: 6.6px;
  background: #222;
  border: none;
  border-radius: 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
}

.sw-footer {
  position: relative;
  width: 40px;
  height: 4px;
  top: 13.5px;
  background: #222;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sandwich.active .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sandwich.active .sw-footer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gastro-runner__header {
  width: 100%;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/fons/gastro-runner--1.png");
  height: 600px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gastro-runner__header--logo {
  float: left;
  width: 119px;
}

.gastro-runner__header--mail {
  float: right;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 36px;
}

.gastro-runner__header--mail:hover {
  color: #fff;
}

.gastro-runner__header--mail .circle-icon {
  border-radius: 50%;
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #222;
  float: left;
  text-align: center;
  margin-right: 10px;
}

.gastro-runner__header--mail i {
  color: #ffd93a;
  font-size: 13px;
  position: relative;
  z-index: 10;
  top: -1px;
}

.gastro-runner__header--title {
  width: 100%;
  float: left;
  position: relative;
  margin: 150px 0 50px;
  font-size: 44px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.gastro-runner__header--title span {
  color: #f2b71b;
}

.gastro-runner__header--title:after {
  content: "";
  position: absolute;
  background-color: #f2b71b;
  left: 0;
  bottom: -30px;
  width: 51px;
  height: 3px;
}

.gastro-runner__header--text {
  width: 100%;
  float: left;
  margin: 0;
  text-align: left;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.gastro-runner__header--button {
  float: left;
  margin-top: 25px;
  min-width: 210px;
  height: 56px;
  background-color: #f2b71b;
  border-radius: 3px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
  cursor: pointer;
}

.gastro-runner__header--button:hover {
  background-color: #d69b00;
  color: #222;
}

/*gastro-runner__advantages & earnings-gastro__advantages*/
.gastro-runner__advantages {
  width: 100%;
  float: left;
  position: relative;
  background-color: #fafafa;
  text-align: center;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 95px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 740px) {
  .gastro-runner__advantages {
    padding: 40px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.gastro-runner__advantages--item {
  width: 20%;
  display: inline-block;
  margin: 0 50px;
}

@media (max-width: 1025px) {
  .gastro-runner__advantages--item {
    width: 33%;
    margin: 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 740px) {
  .gastro-runner__advantages--item {
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.gastro-runner__advantages--item-thumb {
  margin: 0 auto 20px;
  display: inline-block;
}

.gastro-runner__advantages--item-title,
.gastro-runner__advantages--item-text {
  width: 100%;
  float: left;
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

.gastro-runner__advantages--item-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.earnings-gastro__advantages {
  background-color: #fff;
}

.earnings-gastro__advantages .gastro-runner__advantages--item {
  width: 24%;
  margin: 0;
  padding: 0 1%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .earnings-gastro__advantages .gastro-runner__advantages--item {
    width: 50%;
  }
}

/*gastro-runner__advantages*/
/*gastro-runner__speed*/
.gastro-runner__speed {
  padding: 95px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  height: 560px;
}

.gastro-runner__speed--title {
  width: 100%;
  float: left;
  color: #222;
  font-size: 37px;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.gastro-runner__speed--title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 51px;
  height: 3px;
  background-color: #f2b71b;
}

.gastro-runner__speed--list {
  width: 34%;
  margin: 60px 0 0;
  padding: 0 0 0 40px;
  float: left;
  position: relative;
}

@media (max-width: 740px) {
  .gastro-runner__speed--list {
    width: 90%;
  }
}

.gastro-runner__speed--list li {
  width: 100%;
  float: left;
  text-align: left;
  list-style-type: none;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  line-height: 24px;
  position: relative;
  margin: 13px 0;
}

.gastro-runner__speed--list li:before {
  content: "";
  background-image: url("../img/icons/list-dot--icon.png");
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: -40px;
}

.gastro-runner__speed--pic {
  position: absolute;
  right: 0;
  width: 347px;
  margin-top: 12px;
}

@media (max-width: 740px) {
  .gastro-runner__speed--pic {
    display: none;
  }
}

.gastro-runner__speed--pic img {
  width: 100%;
}

/*gastro-runner__speed*/
/*gastro-runner__flexibility*/
.gastro-runner__flexibility {
  background-image: url("../img/fons/flexibility--fon.png");
  height: 625px;
  background-size: cover;
  padding: 95px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.gastro-runner__flexibility--content {
  width: 100%;
  float: left;
  margin: 110px 0 90px;
}

.gastro-runner__flexibility--title {
  width: 100%;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.gastro-runner__flexibility--title:after {
  content: "";
  width: 51px;
  height: 3px;
  background-color: #f2b71b;
  position: absolute;
  left: -webkit-calc(50% - 25.5px);
  left: calc(50% - 25.5px);
  bottom: -20px;
}

.gastro-runner__flexibility--item {
  width: 20%;
  display: inline-block;
  float: none;
  text-align: center;
}

@media (max-width: 500px) {
  .gastro-runner__flexibility--item {
    width: 49%;
  }
}

.gastro-runner__flexibility--item-thumb {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.gastro-runner__flexibility--item-text {
  width: 100%;
  float: left;
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10%;
}

@media (max-width: 500px) {
  .gastro-runner__flexibility--item-text {
    padding: 0 2%;
  }
}

.gastro-runner__flexibility--regist {
  margin: 0 auto;
  min-width: 210px;
  height: 56px;
  background-color: #f2b71b;
  border-radius: 3px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
  cursor: pointer;
  display: inline-block;
}

.gastro-runner__flexibility--regist:hover {
  background-color: #d69b00;
  color: #222;
}

/*gastro-runner__flexibility*/
/*gastro-runner__foter*/
.gastro-runner__footer {
  background-color: #1e1e1e;
  padding: 30px 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gastro-runner__footer .gastro-runner__header--mail {
  margin-top: 10px;
}

@media (max-width: 500px) {
  .gastro-runner__footer .gastro-runner__header--mail {
    width: 100%;
    text-align: left;
  }
}

.gastro-runner__footer--copyright {
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  color: #fff;
  float: left;
  width: -webkit-calc(100% - 347px);
  width: calc(100% - 347px);
  padding-left: 12%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .gastro-runner__footer--copyright {
    width: -webkit-calc(100% - 119px);
    width: calc(100% - 119px);
    text-align: right;
  }
}

/*gastro-runner__foter*/
.earnings-gastro__header {
  background-image: url("../img/fons/earnings-gastro__header.png");
  background-repeat: no-repeat;
  height: 781px;
  width: 100%;
  float: left;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .earnings-gastro__header {
    height: auto;
    padding-bottom: 20px;
    text-align: center;
  }
}

.earnings-gastro__header--content {
  float: left;
  width: 70%;
  position: absolute;
  left: 0;
  top: 200px;
}

@media (max-width: 1000px) {
  .earnings-gastro__header--content {
    position: relative;
    top: 20px;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .earnings-gastro__header--content {
    width: 100%;
  }
}

.earnings-gastro__header--title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff;
  float: left;
  margin: 0;
  position: relative;
}

.earnings-gastro__header--title span {
  color: #f2b71b;
}

.earnings-gastro__header--title:after {
  content: "";
  background-image: url("../img/icons/border-yellow.png");
  position: absolute;
  width: 88px;
  height: 116px;
  background-repeat: no-repeat;
  right: -140px;
  top: 18px;
}

@media (max-width: 500px) {
  .earnings-gastro__header--title:after {
    display: none;
  }
}

.earnings-gastro__regist {
  width: 378px;
  height: 432px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 150px;
}

@media (max-width: 1000px) {
  .earnings-gastro__regist {
    position: relative;
    margin: 40px auto 0;
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .earnings-gastro__regist {
    width: 100%;
  }
}

.earnings-gastro__regist--title {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.earnings-gastro__regist--row {
  width: 100%;
  float: left;
  height: 56px;
  position: relative;
  margin-bottom: 20px;
}

.earnings-gastro__regist--row:after {
  content: "";
  background-image: url("../img/icons/border-line.png");
  width: 100%;
  background-repeat: no-repeat;
  height: 56px;
  position: absolute;
  left: 3px;
  bottom: -43px;
}

.earnings-gastro__regist--row input {
  width: 288px;
  float: left;
  background: transparent;
  border: none;
  padding-left: 47px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  color: #fff;
  position: relative;
  z-index: 16;
}

.earnings-gastro__regist--row input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.earnings-gastro__regist--row input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.earnings-gastro__regist--row input::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.earnings-gastro__regist--row input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.earnings-gastro__regist i {
  font-size: 14px;
  color: #fefefe;
  position: absolute;
  left: 22px;
  top: 22px;
}

.earnings-gastro__regist .fa-mobile {
  font-size: 20px;
  top: 18px;
}

.earnings-gastro__regist .fa-map-marker {
  font-size: 17px;
  top: 19px;
}

.earnings-gastro__regist--button {
  width: 100%;
  float: left;
  height: 63px;
  background-color: #f2b71b;
  border-radius: 5px;
  text-align: center;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.earnings-gastro__regist--button:hover {
  background-color: #d69b00;
}

.earnings-gastro__regist--text {
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0;
  position: relative;
}

.earnings-gastro__regist--text .lock--icon {
  width: 12px;
  height: 18px;
  background-image: url("../img/icons/lock.png");
  position: absolute;
  display: block;
  left: 15px;
  top: 3px;
}

.annotation {
  float: left;
  width: 472px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 35px;
  margin-top: 30px;
}

@media (max-width: 500px) {
  .annotation {
    width: 100%;
  }
}

.annotation--text {
  font-size: 20px;
  font-weight: 300;
  line-height: 72px;
  color: #fff;
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
}

@media (max-width: 500px) {
  .annotation--text {
    line-height: 30px;
    font-size: 18px;
  }
}

.dishes--icon {
  width: 72px;
  height: 72px;
  background-color: #1e1e1e;
  border-radius: 50%;
  float: left;
  text-align: center;
}

.dishes--icon:after {
  content: "";
  background-image: url("../img/icons/dishes--icon.png");
  width: 30px;
  height: 28px;
  position: relative;
  display: inline-block;
  top: -webkit-calc(50% - 14px);
  top: calc(50% - 14px);
}

.faq {
  width: 100%;
  float: left;
  background-color: #fafafa;
  padding: 95px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.faq--title {
  width: 100%;
  float: left;
  text-align: center;
  color: #222;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.faq--title:after {
  content: "";
  width: 51px;
  height: 3px;
  background-color: #f2b71b;
  position: absolute;
  left: -webkit-calc(50% - 25.5px);
  left: calc(50% - 25.5px);
  bottom: -20px;
}

.faq__wrap {
  width: 73%;
  margin: 50px auto 0;
  float: none;
  display: inline-block;
}

@media (max-width: 500px) {
  .faq__wrap {
    width: 100%;
  }
}

.faq__item {
  width: 100%;
  margin-bottom: 25px;
  float: left;
}

.faq__item--title {
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.faq__item--title-number {
  width: 30px;
  height: 30px;
  background-color: #f2b71b;
  float: left;
  border-radius: 50%;
  text-align: center;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.faq__item--title-text {
  color: #222;
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
  margin: 0;
}

.faq__item--hide {
  display: none;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  float: left;
  margin-top: 25px;
  padding: 35px 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.faq__item--hide-text {
  width: 100%;
  float: left;
  text-align: left;
  color: #222;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 0;
}

.faq__item--hide-text:first-of-type {
  margin-top: 0;
}

.chevron-icon {
  width: 29px;
  height: 29px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  float: right;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chevron-icon i {
  font-size: 12px;
  position: relative;
  top: 1px;
}

.chevron-icon--rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.upload-card {
  text-align: center;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-card__content {
  width: 730px;
  margin: 70px auto 0;
  display: inline-block;
  float: none;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.upload-card__content h3 {
  width: 100%;
  margin: 0;
  float: left;
  font-size: 22px;
  font-weight: 300;
  color: #222;
  padding: 45px 45px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-card__content--thumb {
  float: none;
  margin: 40px auto;
  width: 179px;
  height: 116px;
  display: inline-block;
}

.upload-card__content--thumb img {
  width: 100%;
}

.upload-card__content--text {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  padding: 20px 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

.upload-card__content--upload {
  width: 100%;
  float: left;
  padding: 45px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.upload-btn {
  width: 0.1px;
  height: 0.1px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
}

.upload-btn + label {
  min-width: 210px;
  height: 56px;
  background-color: #f2b71b;
  border-radius: 3px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin: 0;
}

.upload-btn + label:hover {
  background-color: #d69b00;
  color: #222;
}

.upload-btn--icon {
  position: relative;
  float: left;
  background-image: url("../img/icons/upload--icon.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  left: 10%;
  top: 37%;
}

.upload-btn:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.cooperation {
  text-align: center;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cooperation__link {
  margin: 0 auto 45px;
  display: inline-block;
  float: none;
  width: 210px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  color: #222;
}

.cooperation__link:hover {
  background-color: #222;
  color: #fff;
}

.cooperation__content {
  width: 1027px;
  margin: 70px auto 0;
  display: inline-block;
  float: none;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
}

@media (max-width: 1200px) {
  .cooperation__content {
    width: 100%;
  }
}

.cooperation__content--item {
  width: 284px;
  height: 264px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: inline-block;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  display: inline-block;
  margin: 0 1% 45px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .cooperation__content--item {
    width: 30%;
    float: left;
    height: 350px;
  }
}

@media (max-width: 500px) {
  .cooperation__content--item {
    width: 100%;
    float: left;
    margin: 10px 0;
    text-align: center;
    height: 300px;
  }
}

.cooperation__content--item:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #ffd93a;
}

.cooperation__content--item:hover .cooperation__content--link {
  background-color: #ffd93a;
  color: #222;
}

.cooperation__content--title {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

.cooperation__content--list {
  width: 100%;
  float: left;
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
}

.cooperation__content--list li {
  width: 100%;
  display: inline-block;
  list-style-type: none;
  position: relative;
  font-size: 14px;
  color: #222;
  text-align: left;
  margin-top: 20px;
}

.cooperation__content--list li:before {
  content: "";
  background-image: url("../img/icons/check--yellow.png");
  width: 11px;
  height: 9px;
  position: absolute;
  left: -20px;
  top: 5px;
}

.cooperation__content--link {
  border-radius: 5px;
  min-width: 210px;
  background-color: #e5e5e5;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  color: #9d9d9d;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 35px;
  left: 35px;
}

@media (max-width: 1200px) {
  .cooperation__content--link {
    min-width: 100%;
    left: 0;
  }
}

.cooperation h3 {
  width: 100%;
  margin: 0;
  float: left;
  font-size: 22px;
  font-weight: 300;
  color: #222;
  padding: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cooperation h3 span {
  font-weight: 700;
}

.enter {
  text-align: center;
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.enter__form {
  width: 448px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  float: none;
  margin: 100px auto;
  display: inline-block;
}

@media (max-width: 500px) {
  .enter__form {
    width: 100%;
  }
}

.enter__form--title {
  width: 100%;
  float: left;
  margin: 45px 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.enter__form--get-code {
  display: inline-block;
  color: #00a8d7;
  font-size: 14px;
  font-weight: 300;
  margin: 30px auto;
}

@media (max-width: 500px) {
  .enter__form--get-code {
    width: 100%;
    margin: 15px 0;
  }
}

.enter__form--get-code:hover {
  color: #00a8d7;
}

.enter__form--button {
  min-width: 210px;
  height: 56px;
  background-color: #f2b71b;
  border-radius: 3px;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 56px;
  cursor: pointer;
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

.enter__form--button:hover {
  background-color: #d69b00;
  color: #222;
}

.enter__form--button:hover {
  background-color: #f2b71b;
}

.enter__form--button:focus {
  background-color: #f2b71b;
}

.enter__form form {
  width: 100%;
  float: left;
  padding: 0 55px 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.enter__form--row {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 20px;
}

.enter__form--row .drop-menu {
  float: left;
  width: 100%;
  position: initial;
}

.enter__form--row .drop-menu .dropeddown li:hover {
  background-color: #f2b71b;
}

.enter__form--row .dropeddown:before {
  content: "";
  width: 90%;
  left: 15px;
  background-color: #eaeaea;
  height: 1px;
  position: absolute;
  top: 0;
  z-index: 10;
}

.enter__form--label {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #222;
  margin-bottom: 15px;
}

.enter__form--label span {
  color: #d71111;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
}

.enter__form--icon {
  position: absolute;
  color: #ccc;
  left: 14px;
  margin-top: 51px;
}

.enter__form--icon .fa-mobile {
  font-size: 21px;
}

.enter__form--icon .fa-envelope-o {
  font-size: 13px;
  position: relative;
  top: -2px;
}

.enter__form--icon .fa-user-o {
  font-size: 13px;
  position: relative;
  top: -1px;
}

.enter__form--icon .fa-money {
  font-size: 13px;
  position: relative;
  top: -1px;
}

.enter__form--input {
  width: 100%;
  float: left;
  height: 50px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.enter__form--input:focus {
  border: 1px solid #f2b71b;
}

.enter__form--input::-webkit-input-placeholder {
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
}

.enter__form--input:-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
}

.enter__form--input::-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
}

.enter__form--input::placeholder {
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
}

.drag-wrap {
  width: 100%;
  float: left;
  height: 110px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  cursor: pointer;
}

.drag-wrap--text {
  font-size: 14px;
  font-weight: 300;
  color: #222;
  text-align: center;
  float: left;
  width: 100%;
  padding: 35px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile {
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.profile--title {
  width: 100%;
  float: left;
  color: #222;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 25px;
}

.profile__wrap {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .profile__wrap {
    padding: 40px 10px;
  }
}

.profile__wrap--pic {
  float: left;
  width: 215px;
  text-align: center;
}

@media (max-width: 500px) {
  .profile__wrap--pic {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.profile__wrap--pic .uploads-btn {
  width: 156px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.profile__wrap--pic .uploads-btn:hover {
  background-color: #222;
  color: #fff;
}

.profile__wrap--thumb {
  float: left;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .profile__wrap--thumb {
    float: none;
    display: inline-block;
    margin: 0 auto 30px;
  }
}

.profile__wrap--thumb img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile__wrap--content {
  float: left;
  width: -webkit-calc(100% - 215px);
  width: calc(100% - 215px);
  padding-left: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .profile__wrap--content {
    width: 100%;
    padding: 0 10px;
  }
}

.profile__wrap--upload-photo {
  float: none;
  display: inline-block;
  margin: 0 auto;
}

.profile__wrap--upload-photo .upload-btn + label {
  min-width: 156px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  outline: none;
}

.profile__wrap--upload-photo .upload-btn + label:hover {
  background-color: #222;
  color: #fff;
}

.profile__wrap--form {
  float: left;
  width: 40%;
}

@media (max-width: 1200px) {
  .profile__wrap--form {
    width: 60%;
  }
}

@media (max-width: 950px) {
  .profile__wrap--form {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .profile__wrap--form {
    width: 100%;
  }
}

.profile__wrap--form .enter__form--row {
  margin-top: 0;
  margin-bottom: 30px;
}

.profile__wrap--button {
  float: left;
  width: 140px;
  height: 50px;
  background-color: #00a8d7;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.profile__wrap--button:hover {
  background-color: #0086ac;
}

.profile__wrap--name {
  width: 100%;
  float: left;
  margin: 0;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding: 10px 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #f3f3f3;
}

.profile__wrap--info-row {
  width: 60%;
  float: left;
  text-align: left;
  color: #707070;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1200px) {
  .profile__wrap--info-row {
    width: 100%;
  }
}

.profile__wrap--info-row span {
  font-size: 14px;
  font-weight: 300;
  color: #222;
  width: 50%;
  float: right;
  text-align: left;
}

.history {
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.history--title {
  width: 100%;
  float: left;
  color: #222;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 25px;
}

.history__panel {
  width: 100%;
  float: left;
  margin-bottom: 25px;
}

.history__panel--date {
  float: left;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

@media (max-width: 500px) {
  .history__panel--date {
    width: 100%;
  }
}

.history__panel--date span {
  width: 54px;
  height: 49px;
  background-color: #f3f3f3;
  float: left;
  text-align: center;
  line-height: 49px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
}

.history__panel--date input {
  float: left;
  text-align: center;
  background-color: #fff;
  width: 160px;
  height: 49px;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .history__panel--date input {
    width: -webkit-calc((100% - 108px)/2);
    width: calc((100% - 108px)/2);
  }
}

@media (max-width: 770px) {
  .history__panel .drop-menu {
    float: left;
    margin-top: 20px;
    width: 430px;
  }
}

@media (max-width: 500px) {
  .history__panel .drop-menu {
    width: 100%;
  }
}

.history__table {
  width: 100%;
  float: left;
  position: relative;
}

.history__table::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}

.history__table::-webkit-scrollbar-track {
  background-color: #bbb;
}

.history__table::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #f3f3f3;
}

.history__table::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

.history__table::-webkit-scrollbar {
  width: 4px;
}

@media (max-width: 990px) {
  .history__table {
    overflow-x: scroll;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.history__table--title {
  float: left;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 990px) {
  .history__table--title {
    width: 970px;
  }
}

.history__table--title span {
  color: #707070;
  font-size: 14px;
  font-weight: 700;
}

.history__table--row {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

@media (max-width: 990px) {
  .history__table--row {
    width: 970px;
  }
}

.history__table--row span {
  color: #222;
  font-size: 14px;
  font-weight: 300;
}

.history__table span {
  float: left;
  text-align: left;
}

.history__table .number {
  width: 15%;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.history__table .date {
  width: 20%;
}

.history__table .adress {
  width: 25%;
}

.history__table .product {
  width: 25%;
}

.history__table .status {
  width: 15%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.add-dealer {
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.add-dealer--title {
  width: 100%;
  float: left;
  color: #222;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 25px;
}

.add-dealer__wrap {
  width: 100%;
  float: left;
  background-color: #fff;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .add-dealer__wrap {
    padding: 40px 10px;
  }
}

.add-dealer__wrap .profile__wrap--form {
  width: 30%;
}

@media (max-width: 1024px) {
  .add-dealer__wrap .profile__wrap--form {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .add-dealer__wrap .profile__wrap--form {
    width: 100%;
  }
}

.list-dealer {
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.list-dealer--title {
  width: 50%;
  float: left;
  color: #222;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0 25px;
}

.list-dealer .add-btn {
  float: right;
  margin-bottom: 25px;
}

.list-dealer__table {
  width: 100%;
  float: left;
  position: relative;
}

.list-dealer__table::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0;
}

.list-dealer__table::-webkit-scrollbar-track {
  background-color: #bbb;
}

.list-dealer__table::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #f3f3f3;
}

.list-dealer__table::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0;
}

.list-dealer__table::-webkit-scrollbar {
  width: 4px;
}

@media (max-width: 1200px) {
  .list-dealer__table {
    overflow-x: scroll;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.list-dealer__table--title {
  float: left;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .list-dealer__table--title {
    width: 1200px;
  }
}

.list-dealer__table--title span {
  color: #707070;
  font-size: 14px;
  font-weight: 700;
}

.list-dealer__table--row {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .list-dealer__table--row {
    width: 1200px;
  }
}

.list-dealer__table--row span {
  color: #222;
  font-size: 14px;
  font-weight: 300;
  height: 68px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.list-dealer__table--row .action {
  width: 14%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 68px;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-dealer__table--row .action .del--btn {
  margin-left: 22px;
}

.list-dealer__table span {
  float: left;
  text-align: left;
}

.list-dealer__table .photo {
  width: 68px;
  margin-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 50px;
  text-align: center;
}

.list-dealer__table .photo--thumb {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.list-dealer__table .photo--thumb img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list-dealer__table .name {
  width: 18%;
}

.list-dealer__table .email {
  width: 18%;
}

.list-dealer__table .phone {
  width: 18%;
}

.list-dealer__table .date {
  width: 18%;
}

.list-dealer__table .action {
  width: 14%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.list-dealer__table .action .del--btn {
  margin-left: 22px;
}

.maps {
  margin: 50px 0 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.maps--title {
  width: 50%;
  float: left;
  color: #222;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0 25px;
}

#map {
  width: 100%;
  height: 530px;
  float: left;
  position: relative;
}

.modal_div {
  width: 540px;
  background: #fff;
  position: absolute;
  left: -webkit-calc(50% - 270px);
  left: calc(50% - 270px);
  top: -webkit-calc(50% - 125px);
  top: calc(50% - 125px);
  border-radius: 3px;
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 5;
}

@media (max-width: 500px) {
  .modal_div {
    width: 100%;
    left: 0;
    top: 30%;
  }
}

.modal_div--photo {
  top: -webkit-calc(50% - 240px);
  top: calc(50% - 240px);
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.modal--title {
  float: left;
  width: 100%;
  padding: 25px 30px;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 20px;
  margin-top: 2px;
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.close-btn:before,
.close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}

.close-btn:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal--content {
  float: left;
  width: 100%;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.modal--content p {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal--content .ok-btn {
  width: 112px;
  height: 50px;
  background-color: #00a8d7;
  border-radius: 3px;
  float: none;
  margin: auto;
  display: inline-block;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.modal--content .ok-btn:hover {
  background-color: #0086ac;
}

.modal--content .modal__thumb {
  width: 220px;
  height: 220px;
  float: none;
  display: inline-block;
}

.modal--content .modal__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.crop-btn {
  width: 156px;
  height: 50px;
  background-color: #00a8d7;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: 15px;
}

.crop-btn:hover {
  background-color: #0086ac;
  color: #fff;
}

.modal__panel {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 20px;
}

.modal__panel .profile__wrap--upload-photo {
  margin-right: 15px;
}

/*# sourceMappingURL=styles.css.map */
