section.faq
  .container
    h2.faq--title Часто задаваемые вопросы
    .faq__wrap 
      .faq__item
        .faq__item--title
          span.faq__item--title-number 1
          span.faq__item--title-text С чего начать для работы с вашим сервисом доставки?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Необходимо скачать мобильное приложение продавца и войти в личный кабинет под номером телефона регистрации в Gastrotochka.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 2
          span.faq__item--title-text Как мне вызвать курьера?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text В разделе Доставка вы увидите ваши новые заказы, где одним кликом можно вызвать курьера предварительно выбрав из списка адрес вашего магазина или который вы укажите вручную.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 3
          span.faq__item--title-text Сколько стоит доставка?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Стоимость доставки зависит от региона в котором вы работаете.
          p.faq__item--hide-text Доставку оплачивает покупатель, после того как удостоверится в качестве продуктов питания и количестве наименований заказа.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 4
          span.faq__item--title-text Что делать если будет возврат?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Все очень просто, вам привезут продукты назад в товарном виде.
          p.faq__item--hide-text  Тип возврата определяется несколькими факторами: несвежие или просроченные продукты питания, долгая доставка, плохое обслуживание курьера, ложный адрес.
          p.faq__item--hide-text  Каждый тип рассматривает наш отдел качества в индивидуальном порядке и принимает меры в зависимости от вердикта.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 5
          span.faq__item--title-text Могу ли я заказать оптовую доставку?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Да мы в скором времени откроем доступ к заказу курьеров с грузовыми машинами.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 6
          span.faq__item--title-text Как я могу узнать где мой груз?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Используя мобильное приложение в режиме реального времени вы можете наблюдать точку, где находится ваш товар.
      .faq__item
        .faq__item--title
          span.faq__item--title-number 7
          span.faq__item--title-text Когда мне будут начислены деньги за товар?
          .chevron-icon
            i.fa.fa-chevron-up(aria-hidden='true')
        .faq__item--hide
          p.faq__item--hide-text Как только заказ будет доставлен, вы увидите статус и информацию о зачисленной сумме вам на карточку.
