section.gastro-runner__footer
  .container
    .gastro-runner__header--logo
      img(src="img/logo.png")
    p.gastro-runner__footer--copyright Gastro Runner © 2017
    a(href="mailto:office@gastrotochka.com").gastro-runner__header--mail
      span.circle-icon
        i.fa.fa-envelope-o(aria-hidden='true')
      | office@gastrotochka.com
