header.header
  .container
    .header__logo
      img(src="img/logo.png")
    ul.header__menu
      li
        a(href="#") Главная  
      li
        a(href="#") Дилеры
      li
        a(href="#") Статистика
      li
        a(href="#") История
      li
        a(href="#") Профиль
    .toggle_mnu
      span.sandwich
        span.sw-topper
        |               
        span.sw-bottom
        |               
        span.sw-footer
    a(href="#").header__panel--exit Выход
