.enter {
  text-align: center;
  &__form {
    width: 448px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    float: none;
    margin: 100px auto;
    display: inline-block;
    &--title {
      width: 100%;
      float: left;
      margin: 45px 0 10px;
      font-size: 18px;
      font-weight: 700;
      color: $dark;
    }
    &--get-code {
      display: inline-block;

      color: $blue;
      font-size: 14px;
      font-weight: 300;
      margin: 30px auto;
      &:hover {
        color: $blue;
      }
    }
    &--button {
      @include btn--yellow;
      width: 100%;
      background-color: #f3f3f3;
      border: none;
      outline: none;
      &:hover {
        background-color: $yellow;
      }
      &:focus {
        background-color: $yellow;
      }
    }
    form {
      width: 100%;
      float: left;
      padding: 0 55px 55px;
      box-sizing: border-box;
    }
    &--row {
      width: 100%;
      float: left;
      position: relative;
      margin-top: 20px;
    }
    &--label {
      width: 100%;
      float: left;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: $dark;
      margin-bottom: 15px;
    }
    &--icon {
      position: absolute;
      color: #ccc;
      left: 14px;
      margin-top: 51px;

      .fa-mobile {
        font-size: 21px;
      }
    }
    &--input {
      width: 100%;
      float: left;
      height: 50px;
      background-color: #fff;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding-left: 35px;
      box-sizing: border-box;
      &:focus {
        border: 1px solid #f2b71b;
      }
      &::placeholder {
        color: #bbb;
        font-size: 14px;
        font-weight: 300;
        line-height: 48px;
      }
    }
  }
}
