.enter {
  text-align: center;
  &__form {
    width: 448px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    float: none;
    margin: 100px auto;
    display: inline-block;
    &--title {
      width: 100%;
      float: left;
      margin: 45px 0 10px;
      font-size: 18px;
      font-weight: 700;
      color: $dark;
    }
    &--get-code {
      display: inline-block;

      color: $blue;
      font-size: 14px;
      font-weight: 300;
      margin: 30px auto;
      &:hover {
        color: $blue;
      }
    }
    &--button {
      @include btn--yellow;
      width: 100%;
      background-color: #f3f3f3;
      border: none;
      outline: none;
      &:hover {
        background-color: $yellow;
      }
      &:focus {
        background-color: $yellow;
      }
    }
    form {
      width: 100%;
      float: left;
      padding: 0 55px 55px;
      box-sizing: border-box;
    }
    &--row {
      width: 100%;
      float: left;
      position: relative;
      margin-top: 20px;
      .drop-menu {
        float: left;
        width: 100%;
        position: initial;
      }
      .drop-menu .dropeddown li:hover {
        background-color: $yellow;
      }
      .dropeddown:before {
        content: "";
        width: 90%;
        left: 15px;
        background-color: #eaeaea;
        height: 1px;
        position: absolute;
        top: 0;
        z-index: 10;
      }

    }
    &--label {
      width: 100%;
      float: left;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: $dark;
      margin-bottom: 15px;
      span {
        color: #d71111;
        font-size: 14px;
        font-weight: 300;
        display: inline-block;
      }
    }
    &--icon {
      position: absolute;
      color: #ccc;
      left: 14px;
      margin-top: 51px;

      .fa-mobile {
        font-size: 21px;
      }
      .fa-envelope-o {
        font-size: 13px;
        position: relative;
        top: -2px;
      }
      .fa-user-o {
        font-size: 13px;
        position: relative;
        top: -1px;
      }
      .fa-money {
        font-size: 13px;
        position: relative;
        top: -1px;
      }
    }
    &--input {
      width: 100%;
      float: left;
      height: 50px;
      background-color: #fff;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding-left: 35px;
      box-sizing: border-box;
      &:focus {
        border: 1px solid #f2b71b;
      }
      &::placeholder {
        color: #bbb;
        font-size: 14px;
        font-weight: 300;
        line-height: 48px;
      }
    }
  }
}

.drag-wrap {
  width: 100%;
  float: left;
  height: 110px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  cursor: pointer;
  &--text {
    font-size: 14px;
    font-weight: 300;
    color: $dark;
    text-align: center;
    float: left;
    width: 100%;
    padding: 35px 60px;
    box-sizing: border-box;
  }
}
