@import "_index";
@import "_gastro-runner";
@import "_faq";
@import "_upload-card";
@import "_cooperation";
@import "_enter--admin";
@import "_profile";
@import "_history";
@import "_add-dealer";
@import "_list-dealer";
