<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Предмет
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/styles.css")

  body
    section.cooperation
      .container
        .cooperation__logo
          img(src="img/logo.png")
        .cooperation__content
          h3 Выберите способ сотрудничества с 
            span Gastro Runner
          .cooperation__content--item
            span.cooperation__content--title
              | Доставка на автомобиле
            ul.cooperation__content--list
              li Вам исполнилось 19 лет
              li У вас есть автомобиль не ранее 1997 года выпуска
            a(href="#").cooperation__content--link Выбрать
          .cooperation__content--item
            span.cooperation__content--title
              | Доставка на велосипеде
            ul.cooperation__content--list
              li Вам исполнилось 18 лет
              li У вас есть велосипед
            a(href="#").cooperation__content--link Выбрать
          .cooperation__content--item
            span.cooperation__content--title
              | Доставка на скутере
            ul.cooperation__content--list
              li Вам исполнилось 18 лет
              li У вас есть скутер не ранее 2010 года выпуска
            a(href="#").cooperation__content--link Выбрать
          a(href="#").cooperation__link
            | Продолжить
    script(src='js/jquery-2.1.3.min.js') 
    script(src="js/jquery.mousewheel.js") 
    script(src="js/script.js")
